!!! 5
%html
  %head
    %title MapSketcher
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://js.pusherapp.com/1.6/pusher.min.js"
    = javascript_include_tag "/config.js"
    = javascript_include_tag :all
    = csrf_meta_tag
    = stylesheet_link_tag 'compiled/landscape.css', :media => 'screen and (orientation:landscape)'
    = stylesheet_link_tag 'compiled/portrait.css', :media => 'screen and (orientation:portrait)'
    = stylesheet_link_tag 'compiled/handheld.css', :media => 'handheld, only screen and (max-device-width: 480px)'
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" }/

  %body
    #wrapper= yield
    = analytics_code
